#wall .tag-1 {
    display: none;
  }
#wall #tag-2 {
    visibility: hidden;
}
#wall #tag-3.slick {
    visibility: hidden;
}#wall #tag-4 {
    visibility: hidden;
  }
  #wall #tag-5 {
    visibility: hidden;
  }
  #wall #tag-6 {
    visibility: hidden;
  }
  #wall #tag-7 {
    visibility: hidden;
  }